<settings>	<servers>		<server>			<id>nexus</id>			<username>deploy</username>			<password>test</password>		</server>		<server>			<id>snapshots</id>			<username>deploy</username>			<password>test</password>				</server>		<server>			<id>releases</id>			<username>deploy</username>			<password>test</password>		</server>					</servers>	<mirrors>		<mirror>			<id>nexus</id>			<mirrorOf>*</mirrorOf>			<url>http://localhost:8081/nexus/content/groups/Gewinnspiel/</url>		</mirror>	</mirrors></settings>